.btn-nav{
    background-color: rgb(46, 46, 46);
    font-size: smaller;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(78, 7, 21);
    box-shadow: 3px 3px 3px rgb(199, 199, 1);
    cursor: pointer;
}
.btn-nav:hover{
    background-color: rgb(117, 10, 31);
}
.select-nav{
    appearance:inherit;
}
.input-nav{
    width: 50%;
    height: 2.3rem;
    font-size: large;
    
    
}
.div-nav{
    width: 50%;
    background-color:yellow;
    border-radius: 20px;
    border: 1px solid black;    
}

