.card{
    border: 1px solid black;
    height: 20rem;
    margin: 3px;
    background-color: rgb(205, 208, 211);
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 90%; */
    height: 40rem;
    
}
